<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Plantilla de Inicio - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="verde-claro" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="index.html" class="brand-logo">Logo</a>

            <ul class="right hide-on-med-and-down">
                <li><a class="azul" href="https://www.educa.jcyl.es/es" target="_blank">EducaJCyL</a></li>
                <li><a class="azul" href="https://github.com/LuisValles92" target="_blank">GitHub Personal</a></li>
                <li><a class="azul" href="https://translate.google.es/?hl=es" target="_blank">Google Traductor</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li class="nav-li"><a class="nav-a" href="https://www.educa.jcyl.es/es" target="_blank">EducaJCyL</a></li>
                <li class="nav-li"><a class="nav-a" href="https://github.com/LuisValles92" target="_blank">GitHub Personal</a></li>
                <li class="nav-li"><a class="nav-a" href="https://translate.google.es/?hl=es" target="_blank">Google Traductor</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons azul">apps</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center azul">Plantilla de Inicio</h1>
            <div class="row center azul">
                <h5 class="header col s12 light">Un marco frontal moderno y receptivo basado en Material Design</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light azulbcblancosgc">Empezar</a>
                <a href="../parallax/" id="download-button" class="btn-large waves-effect waves-light azulbcblancosgc">IR A LA PLANTILLA PARALLAX_MOD</a>
            </div>
            <br><br>

        </div>
    </div>


    <div class="blancosg">
        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m3">
                        <div class="icon-block">
                            <h2 class="center azul"><i class="material-icons">airline_seat_recline_normal</i></h2>
                            <h5 class="center negroc">Desarrollo Web en Entorno Cliente</h5>

                            <p class="light center">Jes&uacute;s</p>
                            <p class="light justificado">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type specimen book.</p>
                        </div>
                    </div>

                    <div class="col s12 m3">
                        <div class="icon-block">
                            <h2 class="center azul"><i class="material-icons">assignment_ind</i></h2>
                            <h5 class="center negroc">Desarrollo Web en Entorno Servidor</h5>

                            <p class="light center">Jos&eacute; Luis</p>
                            <p class="light justificado">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>

                    <div class="col s12 m3">
                        <div class="icon-block">
                            <h2 class="center azul"><i class="material-icons">deck</i></h2>
                            <h5 class="center negroc">Despliegue de Aplicaciones Web</h5>

                            <p class="light center">Juan</p>
                            <p class="light justificado">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to using 'Content here, content here', making it look like readable English.</p>
                        </div>
                    </div>

                    <div class="col s12 m3">
                        <div class="icon-block">
                            <h2 class="center azul"><i class="material-icons">airline_seat_recline_extra</i></h2>
                            <h5 class="center negroc">Diseño de Interfaces Web</h5>

                            <p class="light center">Ana Rosa</p>
                            <p class="light justificado">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
                                years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>

    <footer class="page-footer verde-claro2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="azul">Bio Empresa</h5>
                    <p class="azul justificado">Somos un equipo de estudiantes universitarios que trabajan en este proyecto como si fuera nuestro trabajo de tiempo completo. Cualquier cantidad ayudar&iacute;a a apoyar y continuar el desarrollo de este proyecto y es muy apreciada.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="azul">Configuraciones</h5>
                    <ul>
                        <li><a class="azul" href="#!">Link 1</a></li>
                        <li><a class="azul" href="#!">Link 2</a></li>
                        <li><a class="azul" href="#!">Link 3</a></li>
                        <li><a class="azul" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="azul">Conectar</h5>
                    <ul>
                        <li><a class="azul" href="#!">Link 1</a></li>
                        <li><a class="azul" href="#!">Link 2</a></li>
                        <li><a class="azul" href="#!">Link 3</a></li>
                        <li><a class="azul" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <b class="blancosgc">Hecho por <a class="negroc" href="http://materializecss.com">Materialize</a></b>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>